%br

.prepend-1.pull-1.span-4.img
  %b Polycom&nbsp;SoundPoint&nbsp;IP&nbsp;550
  %img{:src=>'/images/polycom550-02.png'}
.push-1.span-4.last.link.rborder
  %a.document{:href=>'/data/spip_550_Quick_User_Guide.pdf'}
    .item
      %img{:src=>'/images/pdf.png', :width=>'16'}
      Quick User Guide
  %br
  %a.document{:href=>'/data/spip_550_User_Guide_sip2.1-1.pdf'}
    .item
      %img{:src=>'/images/pdf.png', :width=>'16'}
      User Guide
    
.prepend-1.span-4
  %b Polycom&nbsp;SoundPoint&nbsp;IP&nbsp;335
  %img{:src=>'/images/polycom335.png', :width=>'180'}
.push-1.span-4.link
  %a.document{:href=>'/data/SoundPoint_IP330_Quick_User_Guide_UCS_3_3_0.pdf'}
    .item
      %img{:src=>'/images/pdf.png', :width=>'16'}
      Quick User Guide
  %br
  %a.document{:href=>'/data/spip_320_33x_User_Guide_sip3_2_1RevB.pdf'}
    .item
      %img{:src=>'/images/pdf.png', :width=>'16'}
      User Guide
  
  
  
  