%h2 Office Extensions

.push-2.span-6.append-2.panel
  %h3 Steiner Ranch
  %ul
    %li 522 - Lina
    %li 523 - Melanie
    %li 524 - Insurance
    %li 510 - Hall Phone
    %li 525 - Order
    %li 533 - Brenda
    %li 540 - Phone Booth
    %li 541 - Clinic
    %li 555 - Dr Office
    %li 560 - New Patient
 
.push-2.span-6.last.append-2.last.panel
  %h3 Four Points
  %ul
    %li 642 - Break
    %li 622 - Check-in
    %li 633 - Biz
    %li 655 - Dr Office
    %li 660 - New Patient

.push-2.span-6.append-2.panel
  %h3 Ported Numbers
  %ul
    %li 512 331 7900
    %li 512 331 7939
    %li 512 331 8073
    %li 512 331 8297

.push-2.span-6.append-2.last.panel
  %h3 New DiD's
  %ul
    %li 512 225 0721
    %li 512 225 0722
    %li 512 225 0723
    %li 512 225 0724
    %li 512 225 0725
    %li 512 225 0726
    %li 512 225 0727
    %li 512 225 0728
    %li 512 225 0729
    %li 512 225 0730
    %li 512 225 0731
    %li 512 225 0732
    %li 512 225 0733
    %li 512 225 0734
    %li 512 225 0735

