%h2 Office Extensions

.push-2.span-6.append-2.panel
  %h3 Steiner Ranch
  %ul
    %li 501 - Denise
    %li 502 - Mia
    %li 503 - Front Exta
    %li 510 - Hall Phone
    %li 521 - Natalie
    %li 522 - Erin
    %li 541 - Lisa
    %li 555 - Dr. Lain
 
.push-2.span-6.last.append-2.last.panel
  %h3 Pflugerville
  %ul
    %li 601 - Sarah
    %li 602 - Mia
    %li 621 - Sherry
    %li 622 - Dr. Lain
    %li 623 - Natalie
    %li 641 - Lisa
    %li 631 - Break Rm
    %li 655 - Dr. Lain

.push-2.span-6.append-2.panel
  %h3 Ported Numbers
  %ul
    %li 512 252 3700
    %li 512 266 0007
    %li 512 266 0035
    %li 512 266 0188
    %li 512 266 0212

.push-2.span-6.append-2.last.panel
  %h3 New DiD's
  %ul
    %li 512 279 2535
    %li 512 279 2536
    %li 512 279 2537
    %li 512 279 2538
    %li 512 279 2539
    %li 512 279 2540
    %li 512 279 2541
    %li 512 279 2542
    %li 512 279 2543
    %li 512 279 2544
    %li 512 279 2545
    %li 512 279 2546
    %li 512 279 2547
    %li 512 279 2548

