%h1 Pflugerville Messages

%h2 
  Lunch
  %span.quiet
    202 to record

%p
  Thank you for calling Pflugerville Dermatology. 
  If this is a medical emergency please hang up and dial 911. 
  Our office is now closed for lunch from 12 to 1pm.
  If you would like to leave a message regarding appointment times, 
  prescription refills, or other issues, please do so after the tone.
  We'll get back to you within 24hrs. Again, thank you for calling
  Pflugerville Dermatology.

%h2
  Closed
  %span.quiet 203 to record

%p
  Thank you for calling Pflugerville dermatology. Our office is now closed. 
  If this is a medical emergency please hang up and dial 911. 
  If you need to contact Dr Lain regarding an urgent skin condition
  that cannot wait until normal business hours, and you are a current 
  patient of Dr Lain, please call 779-5680.
  Our normal business hours are Tuesday and Thursday, 8am - 5pm.
  If you would like to leave a message regarding appointment times, 
  prescription refills or other issues, please do so after the tone.
  Again, thank you for calling Pflugerville Dermatology.
%h2 
  Voicemail Busy
  %span.quiet 699 &lt;password&gt; 0 2

%p
  Thank you for calling PV Derm. Our office is currently open, 
  but we are assisting other patients. Please leave a message and
  we'll get back to you as soon as we can.

%hrule

%h1 Steiner Ranch Messages

%h2
  Lunch
  %span.quiet 212 to record
  
%p
  Thank you for calling Stiener Ranch Dermatology. 
  If this is a medical emergency please hang up and dial 911. 
  Our office is now closed for lunch from 12 to 1pm.
  If you would like to leave a message regarding appointment times, 
  prescription refills, or other issues, please do so after the tone.
  We'll get back to you within 24hrs. Again, thank you for calling
  Steiner Ranch Dermatology.

%h2
  Closed
  %span.quiet 213 to record

%p
  Thank you for calling Steiner Ranch Dermatology. Our office is now closed. 
  If this is a medical emergency please hang up and dial 911. 
  If you need to contact Dr Lain regarding an urgent skin condition
  that cannot wait until normal business hours, and you are a current 
  patient of Dr Lain, please call 779-5680.
  Our normal business hours are Monday, 10am - 6pm, 
  Wednesday 8am - 5pm and Friday 8am - 5pm.
  If you would like to leave a message regarding appointment times, 
  prescription refills or other issues, please do so after the tone.
  Again, thank you for calling Steiner Ranch Dermatology.

%h2
  Voicemail Busy
  %span.quiet 599 &lt;password&gt; 0 2

%p
  Thank you for calling SR Derm. Our office is currently open, 
  but we are assisting other patients. Please leave a message and
  we'll get back to you as soon as we can.
