
%h2
  Pflugerville Voicemail
  ="(#{@pvmail.size} Msgs)"
-@pvmail.each do |mail|
  =mail
  %br
  %a.media{:href=>"/audio/msg0000.wav"}WAV


%h2
  Steiner Ranch Voicemail
  ="(#{@srmail.size} Msgs)"
-@srmail.each do |mail|
  =mail
  %br

%script{:type=>"text/javascript", :src=>"/javascripts/jquery.audio.js"}
